<body>
  <div style="background-color: #407BFF">
    <div class="container">
      <%= image_tag "#{Rails.application.credentials.mailer[:front_url]}assets/images/logo.png", :class => "ax-center my-10 w-32"%>
      <h1 class="ax-center text-white text-center mb-10">Bonjour <%= @quote_request.user_profile.first_name %>,<br>
      Vous avez reçu une nouvelle offre de prix</h1>
      <div class="card bg-blue-100 mb-5">
        <div class="container-fluid py-2 border-bottom">
          <p class="text-secondary text-lg ax-center mb-1">de la part de:</p>
          <p class="text-dark fw-600 ax-center text-xl"><%= @quote_request.email %></p>
        </div>
        <div class="container-fluid py-2">
          <p class="text-secondary text-lg ax-center mb-1">concernant votre projet:</p>
          <p class="text-dark fw-600 ax-center text-xl"><%= @quote_request.project.name %></p>
        </div>
      </div>
      <p class="ax-center lh-lg text-white text-center text-2xl mb-10">
		    Vous pouvez accéder à cette demande de prix et transmettre votre devis en cliquant sur le bouton ci-dessous.
      </p>
      <%consultation_link = "#{Rails.application.credentials.mailer[:front_url]}dashboard"%>
      <a class="btn btn-yellow-300 rounded-full fw-800 py-4 ax-center mb-10 w-full w-lg-80" href="<%=consultation_link%>">Accéder à mon espace</a>
    </div>
  </div>
  <div class="text-muted text-center my-6">
    Cet e-mail vous à été envoyé avec l'appication Kwot'z<br>
  </div>
</body>